---
BasedOnStyle: LLVM
AccessModifierOffset: "0"
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: "true"
AlignConsecutiveDeclarations: "false"
AlignEscapedNewlines: Left
AlignOperands: "true"
AlignTrailingComments: "true"
AllowAllParametersOfDeclarationOnNextLine: "false"
AllowShortBlocksOnASingleLine: "true"
AllowShortCaseLabelsOnASingleLine: "false"
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: "true"
AllowShortLoopsOnASingleLine: "false"
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: "false"
AlwaysBreakTemplateDeclarations: "No"
BinPackArguments: "true"
BinPackParameters: "true"
BreakAfterJavaFieldAnnotations: "true"
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Custom
BreakBeforeTernaryOperators: "false"
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
BreakStringLiterals: "false"
ColumnLimit: "120"
CompactNamespaces: "false"
ConstructorInitializerAllOnOneLineOrOnePerLine: "true"
ContinuationIndentWidth: "0"
Cpp11BracedListStyle: "true"
FixNamespaceComments: "true"
IncludeBlocks: Regroup
IndentPPDirectives: AfterHash
IndentWidth: "4"
IndentWrappedFunctionNames: "false"
JavaScriptQuotes: Double
JavaScriptWrapImports: "true"
KeepEmptyLinesAtTheStartOfBlocks: "false"
Language: Cpp
MaxEmptyLinesToKeep: "1"
NamespaceIndentation: All
ObjCBinPackProtocolList: Never
ObjCBlockIndentWidth: "4"
PointerAlignment: Right
ReflowComments: "true"
SortIncludes: "true"
SortUsingDeclarations: "true"
TabWidth: "4"
UseTab: Never
